*{
    font-family: "Montserrat", sans-serif;
}

#logoClubeFlorescer{
    width: 10rem;
}

#imgBgEstetoscopio{
    position: relative;
    display: block;
}

#imgEstetoscopio{
    position: absolute;
    left: 50%;
    top: 0;
}

#imgCoin{
    position: absolute;
    left: 55%;
    top: 20%;
}

#imgCoin2{
    position: absolute;
    left: 10%;
    top: 55%;
}


#sectionVideoFlorescer{
    background-color: rgba(254,191,0,1);
}

#containerVideoFlorescer{
    padding: 2rem 10rem 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#florescerYT{
    margin-top: 2rem;
}

#videoFlorescerYT{
    width: 560px;
    height: 315px;
}

#vantagensClubeFlorescer{
    justify-content: center;
    align-items: center;
}

#celularFlorescer{
    width: 100%;
}

#sectionVantagensClubeFlorescer{
    background-color: #E6E6E6;
}

ul,li {
    list-style: none;
}

#txtParceiros{
    padding: 4rem 15rem 0 15rem;
}

#cardPrice{
    background-color: #FEBF00;
}

#listBeneficios{
    line-height: 30px;
}

#priceCard{
    font-size: 5rem;
    font-weight: 700;
    color: black;
}

#priceCard1{
    padding-top: 0.5rem;
    font-size: 3rem;
    color: black;
    margin-right: 1rem;
    font-weight: 200;
}

#centsCard{
    font-size: 3rem;
    color: black;
    font-weight: 700;
    padding-top: 0.2rem;
    margin-left: -0.5rem;
}

#listBeneficios{
    text-align: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    height: 25rem;
}

#btnAccordion{
    background-color: #FEBF00;
    font-weight: 700;
    color: black;
}

#footer{
    background-color: #FEBF00; 
    color: black;
}

#btnCta{
    background-color: rgba(254,191,0,1);
    color: black;
}

#btnCta:hover{
    background-color: #fe9000;
    color: black;
}

@media screen and (max-width: 768px)  {

    #logoClubeFlorescer{
        width: 8rem;
    }

    #imgEstetoscopio{
        position: absolute;
        left: 0%;
        top: 40%;
    }

    #imgCoin{
        position: absolute;
        left: 0%;
        top: 60%;
    }
    
    #imgCoin2{
        position: absolute;
        left: 50%;
        top: 35%;
    }

    #containerInfo{
        text-align: center;
        padding-top: 5rem;
    }
    
    #containerVideoFlorescer{
        padding: 0;
    }

    #videoFlorescerYT{
        padding: 2rem;
        width: 100%;
        height: 100%;
    }

    #txtParceiros{
        margin-top: 2rem;
        padding: 0;
    }
}